body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-box {
  display: flex;
}
.container {
  flex: 1;
}
.ant-menu-dark {
  height: 100vh
}
.content {
  padding: 20px;
  background: #f6f6f6;
  height: calc(100vh - 60px);
}